<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="main-context">
        {{>header}}

        <p>{{helpText}}</p>

    </div>
    
    {{>footer}}
</body>

</html>